<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beta Sports</title>
    <meta name="description" content="A Beta Sports é a loja de material esportivo mais desejada do Brasil">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/logo.svg">
</head>
<body>
    <nav class="sm:h-10 bg-blue-800 flex flex-nowrap">
        <svg width="52" height="40" viewBox="0 0 52 51" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.125 25.5H43.875" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M8.125 12.75H43.875" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M8.125 38.25H43.875" stroke="white " stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg><div class="rounded-lg bg-white w-64 h-5 mt-2.5 ml-2 flex justify-end shadow-lg">
    <svg class="mt-0.5 mr-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M7.25 12.5C10.1495 12.5 12.5 10.1495 12.5 7.25C12.5 4.35051 10.1495 2 7.25 2C4.35051 2 2 4.35051 2 7.25C2 10.1495 4.35051 12.5 7.25 12.5Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M10.9625 10.9625L14 14" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    </div></nav>
    <main>
        <h1 class="text-blue-800 text-4xl font-bold">OFERTAS DO DIA</h1>
        <h2>DESFRUTE JA</h2>
        <section>
            <h3 class="text-blue-800">Escolha por Esporte</h3>
        </section>
    </main>
</body>
</html>