<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beta Sports</title>
    <meta name="description" content="A Beta Sports é a loja de material esportivo mais desejada do Brasil">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/logo.svg">
</head>
<body class="">
    <nav class="h-20 sm:h-2 bg-blue-800 flex flex-nowrap">
        <img class="w-10" src="/img/Menu.svg" alt="Menu">
        <img src="/img/logo_menu.png" alt="logo_menu">
        <div>
            <input type="text" class="icon-busca">
            <img src="" alt="">
        </div>
        <img class="w-1" src="/img/Carrinho.svg" alt="Carrinho">
    </nav>
    <main>
        <h1 class="text-blue-800 text-4xl font-bold">OFERTAS DO DIA</h1>
        <section>
            <h2>DESFRUTE JA</h2>

            <h3 class="text-blue-800">Escolha por Esporte</h3>
        </section>
    </main>
</body>
</html>