<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/logo.svg">
</head>
<body>
    <nav class="h-20 sm:h-2 bg-blue-800 flex flex-nowrap">
        <img class="w-10" src="/img/Menu.svg" alt="Menu">
        <img src="/img/logo_menu.png" alt="logo_menu">
        <div>
            <input type="text" class="icon-busca">
            <img src="" alt="">
        </div>
        <img class="w-10" src="/img/Carrinho.svg" alt="Carrinho">
    </nav>
    <section>
        
    </section>  
</body>
</html>