<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/logo.svg">
    <title>D</title>
</head>
<body>
    <nav class="div-menu">
        <div class="up">
            <div class="menu">
                <img src="/img/Menu.svg" alt="Menu">
            </div>
            <div class="logo-div">
                <img class="logo" src="/img/logo.svg" alt="Logo">
            </div>
            <div class="carrinho">
                <img src="/img/Carrinho.svg" alt="Carrinho">
            </div>
        </div>
        <div class="search">
            <input type="text" name="search" id="search">
            <img src="/img/Lupa.svg" alt="Lupa">
        </div>
    </nav>
    <h1>Lorem Ipsum</h1>
    <div class="pro">
        <img src="/img/placeholder.png" alt="">
        <p>lorem</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p>10RS</p>
    </div>
</body>
</html>