<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="logo.svg">
    <title>D</title>
</head>
<body>
    <nav class="div-menu">
        <div class="up">
            <div class="menu">
                <img src="Menu.svg" alt="Menu">
            </div>
            <div class="logo-div">
                <img class="logo" src="logo.svg" alt="Logo">
            </div>
            <div class="carrinho">
                <img src="Carrinho.svg" alt="Carrinho">
            </div>
        </div>
        <div>
            <input type="text" name="search" id="search">
            <img src="Lupa.svg" alt="Lupa">
        </div>
    </nav>
    <h1>Lorem Ipsum</h1>
    <section class="container">
        <div class="col">
            <div class="produto">
                <img class="img-produto" src="placeholder.png" alt="placeholder">
                <p>Produto</p>
                <p>description</p>
                <p>1R$</p>
            </div>    
        </div>
    </section>
</body>
</html>